/*------- add css style for structure of Main page ------ */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* navigation
----------------------------*/
.sidepanel
{
	height:100%;
	width:100%;
}
.navbar
{
	top:1px;
	bottom: 5%;
	border: 2px groove #CCCCFF;
	height: 50px;
	position:relative;
}  



/* Left panel
------------------------*/

.leftpanel
{
	border: 1px groove #800080;
	top:5px;
	width:25%;
	height:80%;
	float:left;
	
}
/* Right panel
------------------------*/
.rightpanel
{
	border: 1px groove #800080;
	top:5px;
	left:75%;
	width:24.5%;
	height:80%;
	float:right;

}
/* container
------------------------*/
/* reply
------------------------*/


.container
{
	top: 5%;
	border: 1px groove #C0C0C0;
	position:inherit;
	height: 80%;
	width: 50%;
	float:left;
}
.footer
{
	border: 1px groove #800080;
	top: 85%;
	clear: both;
	height: 10%;
}
body
{
	height:100%;
	background-image: url('themes/DSC01494.gif');
}	

html
{
	height:100%;
}
/* footer
------------------------------*/

