@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <link href=@Url.Content("../../Content/LeduInfo.css") rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Message</title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
    
        <div class="navbar-inner">
            <div class="container">
        
            </div>
        </div>
    </div>
</body>
</html>
